{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <div class="content-section">
        <br>
        <p class='text-muted'>
            Hey Viewer
        </p>
        <br>
        <p class='text-muted'>

            This is a minor project undertaken by me during my freshman year of Computer Science
            undergraduate study. The backend for this website has been developed using Django-
            a Python based Web Framework. It was a valuable learning experience for me and
            served as a great idea for testing my new skills.
        </p>
        <p class='text-muted'>
            Looking forward to future endeavors in this domain.
        </p>
        <p class='text-muted'>
            Thanks
        </p>
        <p class='text-muted'>
            Shresth Rana
        </p>
        <p class='text-muted'>
            Email:shresthrana1@gmail.com
        </p>
    </div>
{% endblock content %}